{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Следующая коллекция морских обитателей</h1>

<div class="animal-list">
    {% for animal in page_obj %}
        <div class="animal-card" style="opacity: 0; transform: translateY(20px);">
            <a href="{% url 'animals:detail' animal.pk %}" style="text-decoration: none; color: inherit;">
                <img src="{{ animal.image.url }}" alt="{{ animal.name }}">
                <h3>{{ animal.name }}</h3>
            </a>
        </div>
    {% empty %}
        <p>Новые морские обитатели скоро появятся! Следите за обновлениями.</p>
    {% endfor %}
</div>

<div class="pagination" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="collection-navigation">
        <a href="{% url 'animals:list' %}" class="btn btn-back">⬅ Вернуться на главную</a>
    </div>

   

    <div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед →</a>
        {% endif %}
    </div>
</div>




{% endblock %}
