{% extends "base.html" %}
{% block content %}
<div class="form-glass">
    <h1>🔑 Вход в систему</h1>

    <!-- Блок для сообщений -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_username">Имя пользователя</label>
            <input type="text" name="username" id="id_username" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="id_password">Пароль</label>
            <input type="password" name="password" id="id_password" class="form-control" required>
        </div>
        
        <button type="submit" class="btn-primary">🚀 Войти в аккаунт</button>
    </form>
    <div class="form-links">
        <p>Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрируйтесь</a></p>
    </div>
</div>
{% endblock %}


